{% extends "UserInterface/base.html" %}


{% block title %}   {{article.title}}   {% endblock %}


{% block head %}

<style>
    .content{
        max-width: 75vw;
        font-size: large;
        padding-left: 10vw;
        text-indent: 30px;
    }

</style>

{% endblock %}

{% block content %}


<div class="row">
    <div class="col">{{article.author}}</div>
    <div class="col">{{article.date_created}}</div>
</div>

<center><h3 class="font-monospace mt-5">{{article.title}}</h3></center>

<div class="row">
    <div class="col mx-3 mx-3">
        
        <p class="content">{{article.content}}</p>
    </div>
   
</div>


{% endblock %}